.blog-img-td div{
    font-size: 1.2em;
    width : 90%;
    display:block;
    margin:1em auto 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blog-img-td img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.blog-img-td::after {
    content: "";
    display: block;
    clear: both;
}

.blog-img-only div{
    font-size: 1.2em;
    width : 90%;
    display:block;
    margin:1em auto 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blog-img-only img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.blog-video {
    width : 80%;
    aspect-ratio: 16/9;
    margin-left: auto;
    margin-right: auto;
}

.blog-video video{
    width : 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.rotating-banner {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 0.8;
    overflow: hidden;
}

.rotating-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    z-index: 1;
}

.rotating-banner img.active {
    opacity: 1;
    z-index: 2;
    transition: opacity 1s ease-in-out;
}

#banner .content {
    padding: 4rem 0 4rem 0;
}


#description {
    display:inline-block;
    overflow:auto;
    width:100%;
}

#description > * {
    animation-delay:0.5s;
    animation-fill-mode: both;
    animation-duration: 0.7s;
    animation-name: fadeInDown;

}

#description div {
    font-size: 1.2em;
    width : 50%;
/*    aspect-ratio: 16/9;*/
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 15px 25px;
    margin: 25px 0px 25px;

}
#description div p {
    color: rgba(255,255,255,1);
}
#description div {
    color: rgba(255, 255, 255, 0.2);
}

#description div:nth-child(1):after{
    border-right: 2px solid #C0334A;
}

#description div:nth-child(2){
    border-left: 2px solid #C0334A;
}

#banner .content .title{
    color: #C0334A;
}

#banner .content .title span{
    color: #FFFFFF;
}

#banner .content .sub_title span {
    color: #C0334A;
}

.chapters .chapter img {
    aspect-ratio: 1/0.618;
}